WEB_CONCURRENCY=2
RAILS_MAX_THREADS=2
RACK_ENV=development
PORT=3000
DATABASE_URL=postgresql://rmst:rmst@localhost:5432/rmst?pool=5
SECRET_KEY_BASE=secret_key
HOST_NAME=https://test.dev-vm.dev:3000
HEROKU_APP=rmst-prod01
