  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Accounts">
    <a class="nav-link" href="<%= accounts_path %>">
      <i class="fa fa-fw fa-building"></i>
      <span class="nav-link-text">Accounts</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Products">
    <a class="nav-link" href="<%= products_path %>">
      <i class="fa fa-fw fa-folder-open"></i>
      <span class="nav-link-text">Products</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Plans">
    <a class="nav-link" href="<%= plans_path %>">
      <i class="fa fa-fw fa-file"></i>
      <span class="nav-link-text">Plans</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="SideKiq">
    <a class="nav-link" href="<%= sidekiq_web_path %>">
      <i class="fa fa-fw fa-line-chart"></i>
      <span class="nav-link-text">SideKiq</span>
    </a>
  </li>
